<style>
		body{
			background-color: rgb(242, 242, 242);
			
		}
		h1{
			color: rgb(0, 102, 102);
			font-family: 'Montserrat', sans-serif;
		}
		
		h2{
			color: rgb(0, 102, 102);
			font-family: 'Big Shoulders Inline Text', cursive;
		}
		button{
			color: rgb(0, 102, 102);
		}
		a{
			color: rgb(0, 102, 102);
		}
		img{
			height: 18px;
			width: 18px;

		}
		legend{
			color: rgb(0, 102, 102);
			font-family: 'Big Shoulders Inline Text', cursive;
		}
		.tabela{
			font-family: 'Montserrat', sans-serif;
			margin-bottom: 30px;
		}
		.botao{
			color: rgb(0, 102, 102);
		}
		#titulo{
			font-family: 'Big Shoulders Inline Text', cursive;
			margin-bottom: 10px;
			height: 20px;
			width: 200px;
		}
		#descricao{
			font-family: 'Big Shoulders Inline Text', cursive;
			margin-bottom: 10px;
			height: 50px;
			width: 203px;
		}
		#genero{
			font-family: 'Big Shoulders Inline Text', cursive;
			margin-bottom: 10px;
			height: 20px;
			width: 209px;
		}
		#autor{
			font-family: 'Big Shoulders Inline Text', cursive;
			margin-bottom: 10px;
			height: 20px;
			width: 200px;
		}
		th, td{
			padding: 10px;
		}
		table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
			margin: 5px;
		}
		fieldset{
			width: 400px;
		}
		li{
			font-family: 'Big Shoulders Inline Text', cursive;
		}

</style>